*{
    background-color: #212121;
    color: white;
    padding: 0px;
    margin: 0px;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    display: flex;    
    align-items: center;
    position: sticky;
    justify-content: space-evenly;
    top: 0px;
}
.navbar::before{
    content: "";
    background-color: black;
    top: 0px;
    left: 0px;
    opacity: 0.5;
    /* z-index: -1; */
}
ul{
    display: flex;
}
ul li{
    display: flex;
    text-decoration: none;
    padding: 8px 15px;
    justify-content: space-evenly;
    /* border-radius: 15px; */
}

a{
    color: rgb(0, 255, 0);
    font-size: 25px; 
    /* border: 2px solid white; */
    padding: 8px 15px;
    border-radius: 15px;
    text-decoration: none;
}
ul li a:hover{
    background-color: rgb(0, 255, 0);
    color: white;
}
.navbar>img{
    height: 60px;
    padding: 10px 0px;
    border-radius: 50%;
}